<% if !@user.home_email.to_s.blank? && !@user.home_institution_confirmed %>
  <div class="red lighten-4">
    <div class="container">
      <div class="section">
        <div class="center">
          We've sent you a verification email!
          <%= link_to "Resend verification email to #{@user.home_email}?", resend_confirmation_path(nil, :type => "home"), method: :post %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if !@user.exchange_email.to_s.blank? && !@user.exchange_institution_confirmed %>
  <div class="red lighten-4">
    <div class="container">
      <div class="section">
        <div class="center">
          We've sent you a verification email!
          <%= link_to "Resend verification email to #{@user.exchange_email}?", resend_confirmation_path(nil, :type => "exchange"), method: :post %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div id="user-edit-profile-app"></div>
<script type="text/javascript" charset="utf-8">
  (function() {
   var username = JSON.parse('<%= @user.username.to_json.html_safe %>');
   var is_users_profile = JSON.parse('<%= is_users_profile? %>');
   var url = "/users/" + username + ".json";
   $.get(url, function(user) {
       React.render(React.createElement(
             UserEditProfileApp, {username: username, is_users_profile: is_users_profile, user: user}),
           document.getElementById("user-edit-profile-app"));
       })
   })();
</script>
