<div id="user-profile-app"></div>
<script type="text/javascript" charset="utf-8">
  (function() {
   React.render(React.createElement(
         UserProfileApp, {user: <%= @user.to_json.html_safe %>, is_users_profile: <%= is_users_profile? %>}),
       document.getElementById("user-profile-app"));
   })();
</script>
