<div class="red lighten-4">
  <div class="container">
    <div id="complete-profile-banner" class="section">
      <div class="center">
        You haven't completed your profile! Functionality of the site will be limited until you do so. 
        <%= link_to "Complete your profile.", welcome_index_path %>
      </div>
    </div>
  </div>
</div>
