<div class="container">
  <div class="section">
    <div class="row valign-wrapper">
      <div class="col s3">
        <%= image_tag "exchangehunt_logo_mascot.png", class: "right" %>
      </div>
      <div class="col s7 primary-text-color">
      	<h2>
      	  ABOUT US
      	</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s7 offset-s3">
	  	<span class="avenir-55">
	  	  ExchangeHunt is a trusted community of university student exchangers all around the world. We believe that exchange is a once in a lifetime experience for most of the students. With ExchangeHunt, we hope to provide a channel for global exchangers to find, connect and build friendships with other exchangers, creating unforgettable memories altogether.
	  	  <br/><br/>
	  	  As a registered user, you can look up universities, countries and states to look for student exchange possibilities. Message anyone in the community to ask for travel buddies, party goers, basically anything!
	  	  <br/><br/>
	  	  Get Started now! SIgn up or Log in.
	  	  <br/><br/>
		</span>
		<br/>
      </div>
    </div>
  </div>
</div>
