<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s3">
      	<div class="row">
      		<!-- empty row for spacer -->
      	</div>
      	<!-- left side nav -->
      	<div class="row">
               <div class="col s12">
                    <!-- page navigation buttons -->
                    <a href="#general" class="waves-effect waves-teal btn-flat primary-text-color" style="display:block">General</a>
                    <a href="#privacy" class="waves-effect waves-teal btn-flat primary-text-color" style="display:block">Privacy</a>
                    <a href="#support" class="waves-effect waves-teal btn-flat primary-text-color" style="display:block">Support</a>
              </div>
        </div>
      </div>
      <div class="col s9">
      	<!-- right side content -->
      	<div class="row">
      	  <div class="col s12">
      	    <div class="row primary-text-color">
      	    	<h2>
      	    		<a name="general"></a>
      	    		FAQ
      	    	</h2>
      	    </div>
      	    <div class="row">
      	    	<h4>
      	    		GENERAL
      	    	</h4>
      	    </div>
      	    <div class="row">
      	    	<span class="avenir-85">
      	    		What is ExchangeHunt?
      	    	</span>
      	    </div>
      	    <div class="row">
      	    	<blockquote>
      	    		Exchangehunt is a trusted community for student exchangers all around the world to connect with each other and build friendships. You can look up universities, countries and states to look for student exchange possibilities. Message anyone in the community to ask for travel buddies, party goers, basically anything!
      	    	</blockquote>
      	    </div>
      	    <div class="row">
      	    	<span class="avenir-85">
      	    		Who is it for?
      	    	</span>
      	    </div>
      	    <div class="row">
      	    	<blockquote>
      	    		Exchangehunt is for university students, whom are going on exchange or are currently in an exchange programme, who are looking for other fellow exchangers, regardless of nationality.
      	    	</blockquote>
      	    </div>
      	    <div class="row">
      	    	<span class="avenir-85">
      	    		I don’t have an exchange university yet! Can I still sign up for Exchangehunt?
      	    	</span>
      	    </div>
      	    <div class="row">
      	    	<blockquote>
      	    		Yes you can! Though this portal serves primarily students who are already going or on exchange, you may find some friendly people to ask about their exchange experience, etc.
      	    	</blockquote>
      	    </div>
      	    <div class="row">
      	    	<span class="avenir-85">
      	    		Why exchangehunt instead of traditional Facebook group?
      	    	</span>
      	    </div>
      	    <div class="row">
      	    	<blockquote>
      	    		We recognise that typical Facebook group is only limited within each tertiary institution and there’s no channel for people to reach out to other exchangers of other universities in the same region. So Exchangehunt allows people from different universities to connect with one another while on exchange.
      	    	</blockquote>
      	    </div>
      	    <div class="row">
      	    	<span class="avenir-85">
      	    		What are shoutouts?
      	    	</span>
      	    </div>
      	    <div class="row">
      	    	<blockquote>
      	    		Shoutouts are basically an announcement function where you can post anything to the entire community. 
      	    	</blockquote>
      	    </div>
      	    <div class="row">
      	    	<span class="avenir-85">
      	    		Can I message anyone?
      	    	</span>
      	    </div>
      	    <div class="row">
      	    	<blockquote>
      	    		Yes. At Exchangehunt, we want to create a trusted community of exchange students with minimal barrier. However, if you are doubtful of the sender’s identity, you can choose not to respond or <%= link_to "report the sender's inappropriate activity to us", support_path %>.
      	    	</blockquote>
      	    </div>
      	    <div class="row">
      	    	<span class="avenir-85">
      	    		How do I delete my Exchangehunt account?
      	    	</span>
      	    </div>
      	    <div class="row">
      	    	<blockquote>
      	    		Awww, we are sad to see you go… To delete your account permanently, go to Profile > delete account button.
      	    	</blockquote>
      	    </div>

      	    <a name="privacy"></a>

      	    <div class="row">
      	    	<!-- empty row for spacing -->
      	    </div>

      	    <div class="row">
      	    	<h4>
      	    		PRIVACY
      	    	</h4>
      	    </div>
      	    <div class="row">
      	    	<span class="avenir-85">
      	    		How does Exchangehunt authenticate users?
      	    	</span>
      	    </div>
      	    <div class="row">
      	    	<blockquote>
      	    		We use a two steps user authentication— Facebook and user’s home university to confirm its student identity. Also, users can only change their profile picture from Facebook. We operate on trust, and have a report system for users to report other users’ fake identity. Users can report suspicious identities by <%= link_to "contacting us", support_path %>.
      	    	</blockquote>
      	    </div>
      	    <div class="row">
      	    	<span class="avenir-85">
      	    		Why must users sign up and log in only using Facebook?
      	    	</span>
      	    </div>
      	    <div class="row">
      	    	<blockquote>
      	    		This is to authenticate users’ identities.
      	    	</blockquote>
      	    </div>

		    <a name="support"></a>

                <div class="row">
                  <!-- empty row for spacing -->
                </div>

                <div class="row">
                  <h4>
                        SUPPORT
                  </h4>
                </div>
                <div class="row">
                  <span class="avenir-85">
                        Still have a burning question? 
                  </span>
                </div>
                <div class="row">
                  <blockquote>
                        <%= link_to "Contact us now!", support_path %>
                  </blockquote>
                </div>
      	  </div>
      	</div>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/help_scripts' %>