<hr />

<input type="text" placeholder="Where are you going for exchange?" width="500" />
<input type="text" placeholder="Start" width="500" />
<input type="text" placeholder="End" width="500" />
<button type="submit">Search</button>

<hr />

<% if user_signed_in? && Rails.env == "development" %>
  ID: <%= current_user.id %> <br />
  Facebook ID: <%= current_user.uid %> <br />
  Email: <%= current_user.email %> <br />
  Admin Role: <%= current_user.admin? %>
<% end %>

<hr />
