<hr />

<input type="text" placeholder="Where are you going for exchange?" width="500" />
<input type="text" placeholder="Start" width="500" />
<input type="text" placeholder="End" width="500" />
<button type="submit">Search</button>

<hr />
