<div class="container">
  <div class="section">
    <div class="row valign-wrapper">
      <div class="col s3">
        <%= image_tag "exchangehunt_logo_mascot.png", class: "right" %>
      </div>
      <div class="col s7 primary-text-color">
      	<h2>
      	  Contact us
      	</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s7 offset-s3">
	  	<span class="avenir-55">
	  	  The most awesome support is coming soon.
		</span>
		<br/>
      </div>
    </div>
  </div>
</div>
