<div class="container">
  <div class="section">
    <div class="row valign-wrapper">
      <div class="col s3">
        <%= image_tag "exchangehunt_logo_mascot.png", class: "right" %>
      </div>
      <div class="col s7 primary-text-color">
      	<h2>
      	  Contact us
      	</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s7 offset-s3">
        <iframe src="https://docs.google.com/forms/d/1LJpvXmnxfXLJ7wJq9rY2h0_BLJy3CMiE3vQ_ygJUM9o/viewform?embedded=true" width="550" height="850" frameborder="0" marginheight="0" marginwidth="0" style="margin-left: -65px;">Loading...</iframe>
    		<br/>
      </div>
    </div>
  </div>
</div>
