/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import "materialize/components/color";

* {
  font-family: "Avenir LT Std 65 Medium", sans-serif;
}

//  Bunch of CSS to make flex Sticky Footer work on Safari

html {
  height: 100%;
}

.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.site-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.primary-color {
  @extend .blue;
  @extend .darken-4;
}

.footer-color {
  @extend .grey;
  @extend .darken-3;
}

.primary-text-color {
  @extend .deep-orange-text;
  @extend .text-accent-3;
}

.btn {
  @extend .blue;
  @extend .darken-4;
}

.clickthrough {
  pointer-events: none;
}

.reset-margins {
  margin: 0;
}

.width-50vw {
  max-width: 50vw;
}

.avenir-45 {
  font-family: "Avenir LT Std 45 Book"
}

.avenir-55 {
  font-family: "Avenir LT Std 55 Roman"
}

.avenir-65 {
  font-family: "Avenir LT Std 65 Medium"
}

.avenir-85 {
  font-family: "Avenir LT Std 85 Heavy"
}

.avenir-95 {
  font-family: "Avenir LT Std 95 Black"
}

.inline {
  display: inline;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  height: auto;
  color: rgba(255,255,255,.9);

  .section {
    width: 100%;
  }
}

.nav-wrapper {
  a {
    color: white;
  }
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

div.overlay-black {
  @extend div.overlay;
  background-color: rgba(0, 0, 0, 0.60);
}

div.overlay-white {
  @extend div.overlay;
  background-color: rgba(255, 255, 255, 0.35);
}

// Landing page

#main-signup-button {
  line-height: 2.7;
  min-width: 260px;
}

#main-login-button {
  line-height: 2.7;
}

#main-banner {
  height: 40vh;
}

#main-banner-logo {
  margin-top: 4em;
  height: auto;
  max-width: 50%;
}

#footer-logo {
  height: auto;
  max-width: 30%;
}

#index-banner {
  height: auto;
  padding-bottom: 4.2em;
}

.btn-cta {
  margin-top: 1.5em;
  width: 25vw;
  min-width: 300px;
  max-width: 400px;
  margin-bottom: 1.5em;
}

.right-vertical-line {
  border-right: solid white;
  border-width: 2px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* typeahead */
.twitter-typeahead .tt-input,
.twitter-typeahead .tt-hint {
    width: 450px !important;
    height: 30px !important;
    padding: 8px 12px;
    font-size: 20px;
    line-height: 32px;
    border: 1px solid #ffffff !important;
    border-radius: 6px !important;
    outline: none;
}

.twitter-typeahead .tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 2px 2px #000000;
}

.twitter-typeahead .tt-hint {
    color: #999 !important;
    text-shadow: 1px 1px #000000;
}

.twitter-typeahead .tt-menu {
    width: 450px !important;
    margin-top: 0px;
    padding: 8px 12px;
    opacity: 0 !important;
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.2);
}

.twitter-typeahead .tt-suggestion {
    padding: 3px 20px !important;
    font-size: 18px;
    opacity: 1 !important;
    line-height: 24px;
    color: #ffffff !important;
    text-shadow: 2px 2px #000000;
}

.twitter-typeahead .tt-suggestion .tt-cursor {
    color: #ffffff !important;
    background-color: #0097cf !important;
}

.twitter-typeahead .tt-suggestion p {
    margin: 0 !important;
}

.profile-image-row {
  height: 100px;
}

.profile-image-size {
  height: 25%;
  width: 25%
}





/* Materialize form colour */

/* label color */
.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}
