/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import "materialize/components/color";

* {
  font-family: "Avenir LT Std 65 Medium"
}

.primary-color {
  @extend .green;
  @extend .darken-3;
}

.primary-text-color {
  @extend .green-text;
  @extend .text-darken-3;
}

.avenir-45 {
  font-family: "Avenir LT Std 45 Book"
}

.avenir-55 {
  font-family: "Avenir LT Std 55 Roman"
}

.avenir-65 {
  font-family: "Avenir LT Std 65 Medium"
}

.avenir-85 {
  font-family: "Avenir LT Std 85 Heavy"
}

.avenir-95 {
  font-family: "Avenir LT Std 95 Black"
}

.reset-margins {
  margin: 0;
}

nav {

}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

  .section {
    width: 100%;
  }
}

.nav-wrapper {
  a {
    color: white;
  }
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 9999;
  color: black;
}

#main-banner {
  height: 40vh;
}

#main-banner-logo {
  margin-top: 5em;
  height: auto;
  max-width: 40%;
}

#index-banner {
  padding-top: 7em;
  padding-bottom: 7em;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
