<footer class="page-footer primary-color">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">ExchangeHunt is a social platform specially for student exchangers to connect with one and another.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>

  <script src="/js/init.js"></script>

<% if user_signed_in? && Rails.env == "development" %>
  <hr />
  ID: <%= current_user.id %> <br />
  Facebook ID: <%= current_user.uid %> <br />
  Email: <%= current_user.email %> <br />
  Admin Role: <%= current_user.admin? %> <br />
  <hr />
<% end %>


</footer>
