<nav class="teal lighten-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">ExchangeHunt</a>

    <ul class="right hide-on-med-and-down">
      <li>
        <% if user_signed_in? %>
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign up/Log in", new_user_registration_path %>
        <% end %>

      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
